.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.display {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-left: 0%;
  overflow: scroll;
}

.toggle-display {
  order: -1;
  align-self: flex-start;
  flex: 425px 1 1;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.toggle-button {
  width: 80px;
  margin-right: 10px;
  padding: 0;
  text-align: center;
}

.info-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fb;
}

.footer-content {
  height: 95%;
  width: 98%;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 10px; */
}

.attribution {
  font-size: .8rem;
  height: 100%;
  width: 25%;
  padding-top: 10px;
}

.logo {
  height: 80%;
  width: 10%;
  object-fit: contain;
  padding: 5px;
}

@media screen and (max-width: 992px) {
  .display {
    width: 100%;
    padding: 70px 15px 15px 15px;
  }

  .attribution {
    font-size: .7rem;
  }

  .logo {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  .display {
    padding: 70px 3px 3px 3px;
  }

  .attribution {
    font-size: .6rem;
  }

  .logo {
    width: 30%;
  }
}